body {
}

footer {
    width: 100%;
    height: 100px;
    background-color: black;
}

footer h1 {
    color: white;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
}

#content {
}

#content > div {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 10px;
    width: 300px;
}

#left {
    flex-flow: column wrap;
}

#left ol {
    counter-reset: item;
    list-style-type: none;
    margin: 15px;
    justify-content: space-between;
    display: flex;
    flex-flow: column wrap;
    padding: 0;
}

#left li {
    font-size: larger;
}

#left li:before {
    content: counter(item) " ";
    counter-increment: item;
}

#left li a {
    text-decoration: none;
    color: #000000;
}

#middle {
    flex:2;
    border: 1px solid transparent;
}

#right {

}

#nav-main {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

#nav-main-menu {
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

#nav-main-menu li {
    list-style-type: none;
}

#nav-main-menu li a {
    font-size: 100%;
    text-decoration: none;
    color: white;
}

#middle div {
    display: none;
}

#middle div:first-child {
    display: flex;
}


